@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;500;700;900&display=swap');


* {
  background-color: rgb(242,244,247);
  color: rgb(39,43,52);
  font-family: sans-serif;
}

.btn {
  border: none;
  background-color: white;
  padding: 15px 30px;
  border-radius: 30px;
  box-shadow: 2px 5px 5px rgb(39,43,52, 0.4);
}

/*Navbar*/

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  
}

.navbar-words  {
  margin: 15px;
  text-decoration: none;
}

.user {
  height: 20px;
  margin-right: 5px;
}
.basket-img {
  height: 23px;

}

/*Home Page*/

 .armchair {
 /* float: right;*/
  margin-top: 75px;
  width: 80%;
} 
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
.header-text {
  margin-left: 19rem;
  width: 30%;
 
}
.header h1 {
  width: 100%;
  font-size: 6rem;
  font-family: 'Outfit', sans-serif;
  letter-spacing: 0px;
  line-height: 5.1rem;
  border-left: 6px solid rgb(39,43,52,0.9);
  /* border-radius: 20px; */
  padding-left: 1.5rem;
}
/* .header h1 span {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 6rem;
} */
